<p>nav works!</p>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">ChatMate App</a>
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
    </li>
     <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
     <li class="nav-item">
        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
</ul>
<form class="form-inline mt-2 mt-md-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-succes my-2 my-sm-0" type="submit">Search</button>
</form>

    <!-- <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="accountService.currentUser$ | async"> -->
    <!-- <ul class="navbar-nav mr-auto" >
    <ng-container *ngIf="accountService.currentUser$ | async">
        <li class="nav-item">
            <a class="nav-link " aria-current="page" routerLink='/members' routerLinkActive="active">Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
          </li>
        </ng-container>
        <li class="nav-item">
          <a class="nav-link" routerLink="/errors" routerLinkActive="active">errors</a>
        </li>
    </ul>

        <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
          <a class="dropdown-toggle text-light"  dropdownToggle>Welcome {{user.username | titlecase}}</a>
          <div class="dropdown-menu mt-3" *dropdownMenu>
             <a routerLink="/member/edit" class="dropdown-item">Edit Profile</a>
             <div class="dropdown-divider"></div>
             <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </div> -->
        <!-- <a class="dropdown-toggle text-light" data-toggle="dropdown" data-target="#dropdown-menu">Welcome User</a>
          <div ngbDropdown class="dropdown">
            <button ngbDropdownToggle class="btn btn-secondary" type="button" id="dropdownMenuButton1"
              aria-expanded="true">
              Schedule
            </button>
            <ul class="ngbDrop_forSlot" ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
            <li>aaaa</li>
            <li>bbbb</li>
            </ul>
          </div> -->

        <!-- <form *ngIf="(accountService.currentUser$ | async ) === null" #loginForm="ngForm" class="d-flex" role="search" (ngSubmit)="login()" autocomplete="off">
          <input
          name="Username"
          [(ngModel)]="model.Username"
          class="form-control mr-sm-2"
          type="text"
          placeholder="Username">

          <input
          name="password"
          [(ngModel)]="model.password"
          class="form-control ms-sm-2"
          type="passwrod"
          placeholder="password">
&nbsp;
          <button class="btn btn-outline-success" type="submit">Login</button>
        </form> -->
    </div>
</nav>
